@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,html {
    font-family: 'Roboto',Helvetica, sans-serif;
    background-color: var(--color-rocket);
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
}

header .links {
    font-size: 22px;
    line-height: 32px;
}

header .links a {
    text-decoration: none;
    margin-left: 10px;
}