<!DOCTYPE html>
<html lang="us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css"> {% block head %}
    <title>Gym Managment</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <div class="links">
                <a class="back">Voltar</a>
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>
    </div>
    {% block content %} {% endblock%}

    <script src="/app.js"></script>

</body>

</html>